.main-page {
  width: min(100%, 70em);
  margin: auto;
  display: flex;

  p {
    margin: auto;
    color: white;
  }

  .center-homepage {
    background-color: var(--homepage-bg);
    border-left: 1px var(--border-color);
    border-right: 1px var(--border-color);
    margin-right: 0.6em;
    margin-left: 0.5em;
    display: grid;
    min-width: 69%;
    flex: 1;
    overflow-y: scroll;
    max-height: 100vh;
    scrollbar-width: none;
    -webkit-scrollbar: none;
    -webkit-appearance: none;

    &::-webkit-scrollbar{
      width: 0;
      background-color: transparent;
    }

    .homepage-top-menu {
      min-width: 100%;
      display: flex;
      min-height: 3rem;
      max-height: 3rem;
      overflow-y: auto;
      border-bottom: 1px var(--border-color);

      .menu-button {
        margin-left: 1em;
        font-size: 0.9em;
        color: rgb(206, 199, 199);
        font-weight: 600;
        letter-spacing: -1px;
        &:hover {
          border-bottom: 3px solid rgb(206, 199, 199);
        }
      }
      .menu-button.active {
        border-bottom: 3px solid rgb(206, 199, 199);
      }
      button {
        min-width: 15%;
        background-color: inherit;
      }
    }
  }

  .left-homepage {
    min-width: 15%;
    height: 100vh;
    padding-right: 1em;
    display: grid;
    place-content: center;
    // font-size: 1.3em;

    .icon-text-container {
      display: flex;
      align-items: center;
      color: white;
      transition: color 0.3s;

      :hover {
        transition: color 0.3s;
        color: red;
        .icon-text-container-inner {
          color: red;
        }
      }

      .icon {
        margin-right: 0.4em;
      }

      .icon-text {
        font-size: 1em;
        font-weight: 700;
      }
      button {
        background: none;
        color: white;
      }
    }
  }

  .right-homepage {
    background-color: var(--homepage-bg);
    min-width: 15%;
    padding: 1em;
    height: 100vh;
    border-left: 1px var(--border-color);
    border-right: 1px var(--border-color);
    button {
      width: 100%;
      height: 3vh;
    }
  }

  .single-post {
    display: flex;
    margin-top: 1%;
    width: 100%;
    border-bottom: 1px var(--border-color);

    &:hover {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .post-info {
      //   border: 1px solid rgba(238, 237, 239, 0.631);
      padding: 1em 2em 1em 2em;
    }

    .website-preview {
      margin-left: auto;
      width: 10%;
    }

    .post-username {
      font-size: 0.75rem;
    }

    .post-title {
      font-size: 0.9rem;
      font-weight: 800;
    }
    .post-tech-stack {
      font-size: 0.7rem;
    }

    .website-preview {
      border: 1px solid red;
      button {
        width: 100%;
        height: 100%;
      }
    }
  }
  button {
    border: none;
  }
  img {
    min-width: 40%;
  }
}
