.main-page {
  width: min(100%, 70em);
  margin: auto;
  display: flex;
  // justify-content: center;

  p {
    margin: auto;
    color: white;
  }
  button {
    border: none;
  }

  .center-homepage {
    background-color: var(--homepage-bg);
    border-left: 1px var(--border-color);
    border-right: 1px var(--border-color);
    margin-right: 0.7em;
    // margin-left: 0.5em;
    display: grid;
    // min-width: 48.3em;
    max-width: 48.3em;
    flex: 1;
    overflow-y: scroll;
    max-height: 93vh;
    scrollbar-width: none;
    -webkit-scrollbar: none;
    -webkit-appearance: none;

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    .homepage-top-menu {
      display: flex;
      min-width: 48.3em;
      min-height: 3rem;
      max-height: 3rem;
      overflow-y: auto;
      border-bottom: 1px var(--border-color);

      .menu-button {
        margin-left: 1em;
        font-size: 0.9em;
        color: rgb(206, 199, 199);
        font-weight: 600;
        letter-spacing: -1px;
        &:hover {
          border-bottom: 3px solid rgb(206, 199, 199);
        }

        .homepage-top-menu-icons {
          margin-right: 0.2em;
        }
      }
      .menu-button.active {
        border-bottom: 3px solid rgb(206, 199, 199);
      }
      button {
        border: none;
        min-width: 15%;
        background-color: inherit;
      }
    }
  }

  .homepage-bottom-page {
    .single-post {
      display: flex;
      margin-top: 1%;
      max-width: 100%;
      border-bottom: 1px var(--border-color);

      &:hover {
        box-shadow: 0 4px 6px rgba(183, 178, 178, 0.1);
      }

      .post-info {
        padding: 1em 1em 1em 2em;

        .post-icons {
          margin: 0.5em 0em 0 0;
          color: white;
          font-size: 1rem;
        }

        .post-likes-comments {
          margin-top: 1rem;
          max-width: 5em;
          // border: 1px solid red;
          display: flex;

          p {
            font-size: 0.8em;
          }
        }
      }

      .post-username {
        font-size: 0.7em;
        color: rgb(101, 101, 174);
        font-weight: 900;
      }

      .post-title {
        font-size: 0.9em;
        font-weight: 900;
        text-shadow: 1px 1px 1px black;
      }
      .post-description {
        font-size: 0.7em;
      }
    }
    img {
      min-width: 40%;
    }
  }
}
