.single-website-owner{
    width: min(90%, 70em);
    // position: absolute;
    margin: auto;
    // border: 1px solid red;
    display: grid;
    place-items: center;
    p,h{
        border: 1px solid red;
        color: white;
    }
    iframe{
        width: 90%;
        height: 85vh;
    }
}