.single-post-page {
  width: min(100%, 70em);
  // border: 1px solid red;
  margin: auto;
  display: flex;
  justify-content: center;

  p {
    margin: auto;
    color: white;
  }
  button {
    border: none;
  }

  .center-post-page {
    background-color: var(--homepage-bg);
    border-left: 1px var(--border-color);
    border-right: 1px var(--border-color);
    margin-right: 0.7em;
    padding-bottom: 1em;

    display: flex;
    flex-direction: column;
    //   justify-content: center;
    align-items: center;
    max-width: 48.3em;
    flex: 1;
    overflow-y: scroll;
    max-height: 100vh;
    scrollbar-width: none;
    -webkit-scrollbar: none;
    -webkit-appearance: none;

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    .user-post-container{
      // margin-top: 1em;
      min-width: 45em;
      padding: 1em;
      // background-color: var(--user-post-background);
      border-bottom: 3px var(--border-color);
      .user-post-info{
        display: inline-flex;

        img{
          max-width: 2em;
          border-radius: 50%;
          margin-right: 0.3em;
        }
        p{
          color: var(--user-post-color);
          text-align: center;
          font-size: 1.2rem;
        }
      }

      .user-post-content {
        margin-top: 0.5em;
        h{
          color: white;
          font-weight: 600;
          font-size: 1.5rem;
          
        }
        p{
          margin-top: 1.5em;
          // margin-left: 1em;
          font-size: 1.1rem;
        }
      }

      .post-likes-comments {
        display: flex;
        // max-width: 12em;
        
        
        .likes-comments-item {
          border-top: 1px var(--border-color);
          max-width: 10em;
          display: flex;
          font-size: 0.8em;
          margin-right: 1em;
          align-items: center;
          margin-top: 1rem;
          
          p{
            padding: 0.2em;
            display: flex;
            align-items: center;
            color: rgb(181, 173, 173);
          }
        }

        .post-icons{
          margin-right: 5px;
          font-size: 1.4em;
          
          &:hover{
            font-weight: 700;
            transition: 0.5s;
            transform: scale(1.3, 1.3);
            color: var(--icon-color);
            fill: var(--icon-color);
          }
        }
      }

      .add-comment {
        display: flex;
        flex-direction: column;
        max-width: 30em;
        margin-top: 3em;

        textarea {
          background-color: inherit;
          border: 1px solid rgb(169, 165, 165);
          outline: none;
          color: white;
          font-size: 1rem;
          min-height: 10vh;
          padding: 1em;
          margin-bottom: 2%;
          resize: none;
        }

        button {
          font-weight: 600;
          font-size: 0.7em;
          max-width: 8em;
          min-height: 3vh;
          padding: 0.1em;
        }
      }
  
    }

    .post-comments-container {
      display: grid;
      place-items: left;
      max-width: 45em;
        // border: 1px solid red;
      margin-top: 1em;
      // margin-bottom: 10%;
      .all-comments {
        margin-top: 2%;
        color: white;
        .user-comment-container {
          // background-color: rgb(49, 48, 48);
          display: flex;
          padding: 1em;
          margin-bottom: 1em;
          border-radius: 15px;

          p, button {
            margin-left: 0.5em;
          }

          .user-comment{
            // border: 1px solid red;
            // display: flex;
            .comment-user-info{
              display: flex;
              align-items: center;
              img{
                max-width: 4%;
                border-radius: 50%;
              }
              p{
                margin-right: 0;
                font-weight: 600;
                font-size: 1rem;
                color: var(--comment-username-color);
              }
              span{
                margin-left: 0.5em;
                font-size: 0.8rem;
              }
            }
            .comment-user-text{
              margin-top: 0.5em;
              font-size: 1rem;
              margin-left: calc(4% + 1em);
            }
            button{
              margin-left: calc(4% + 0.5em);
            }
          }
        }
      }
    }
  }

  .right-post-page {
    background-color: var(--homepage-bg);
    min-width: 10.5em;
    max-width: 10.5em;
    padding: 1em;
    height: 100vh;
    border-left: 1px var(--border-color);
    border-right: 1px var(--border-color);
    button {
      border: none;
      color: white;
      width: 100%;
      height: 3vh;
      background-color: var(--icon-color);
      transition: 1s;
      &:hover {
        transition: 1s;
        background-color: rgb(57, 54, 54);
      }
    }
  }
}
