.make-post-button-container {
  button {
    border: none;
    color: white;
    min-width: 100%;
    height: 3vh;
    border-radius: 5px;
    background: var(--gradient-background);
    transition: 1s;
    &:hover {
      transition: 1s;
      box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(95, 96, 96);
      background: var(--icon-color);
      // background: var(--gradient-background-hover);
    }
  }
}
