nav {
  position: relative;
  z-index: 2;
  background-color: var(--navbar-bg);
}

.main-nav-container {
  width: 100vw;
  height: 7vh;
  display: grid;
  place-content: center;

  .nav-logo-items {
    border: 1px solid green;
    // width: min(100%, 70em);
    width: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link-right {
      border: 1px solid yellow;
      min-width: 15%;
      display: flex;
      align-items: center;
      text-align: right;

      button {
        background-color: inherit;
        font-size: inherit;
        border: 0;
      }
    }
    .nav-link-center {
      min-width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      text-decoration: none;
      border: 1px solid lightblue;
    }
    .navbar-brand {
      border: 1px solid yellow;
      text-decoration: none;
      min-width: 15%;
      padding: 0.5rem;
    }
  }

  div {
    list-style: none;
  }

  .nav-link {
    text-decoration: none;
    padding: 0.5rem;
  }
}

.banner {
  width: 100vw;
  height: 20vh;
  // border: 1px solid yellow;
  background-image: url("../../assets/background-pictures/banner.jpg");
  background-size: cover;
  background-position: 35% 43%;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner-content {
  }
}
