nav {
  position: relative;
  z-index: 2;
  background-color: var(--navbar-bg);
}

.main-nav-container {
  width: 100vw;
  height: 7vh;
  display: grid;
  place-content: center;

  .nav-logo-items {
    // width: min(100%, 70em);
    width: min(70em, 70em);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link-right {
      min-width: 10.5em;
      max-width: 10.5em;
      display: flex;
      justify-content: center;
      // justify-content: space-around;
      // align-items: center;
      border-left: 1px var(--border-color);
      border-right: 1px var(--border-color);
      

      .login,
      .signup,
      .profile,
      .logout {
        border-radius: 4px;
        text-align: center;
        max-width: 5.5em;
        min-width: 5.5em;
        font-size: 1rem;
        font-weight: 600;
        border: 0;
        margin: 0.5em;
        background-color: var(--icon-color);
      }
    }
    .nav-link-center {
      min-width: 48.3em;
      max-width: 48.3em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      text-decoration: none;
    }
    .navbar-brand {
      text-align: center;
      border-left: 1px var(--border-color);
      border-right: 1px var(--border-color);
      text-decoration: none;
      min-width: 10.5em;
      max-width: 10.5em;
      padding: 0.5rem;
    }

    .nav-link {
      text-decoration: none;
      padding: 0.3rem;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }
  }
}

.banner {
  width: 100vw;
  height: 20vh;
  // border: 1px solid yellow;
  background-image: url("../../assets/background-pictures/banner.jpg");
  background-size: cover;
  background-position: 35% 43%;
  display: flex;
  align-items: center;
  justify-content: center;
}
