.all-websites {
    // border: 1px solid red;
    // overflow: scroll;
    width: min(90%, 70em);
    // position: absolute;
    margin: auto;
    border: 1px solid red;
    display: grid;
    place-items: center;
    margin-top: 10%;
    padding: 10px;
    color: white;

    .single-web{
      display: inline-flex;
      border: 1px solid yellow;
      width: 100%;
      height: 80px;
      .creator-info{
        display: block;
      }
      .website-preview{
        margin-left: auto;
        width: 10%;
        border: 1px solid green;
        button{
          width: 100%;
          height: 100%;
        }
      }
    }
  }