.user-post-container {
  // border: 1px solid red;
  p {
    color: rgb(238, 236, 231);
    font-weight: 600;
    margin-bottom: 3%;
  }
  .user-post-form {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    padding: 1em;
    margin-top: 5%;
    border-radius: 10px;
    background-color: var(--homepage-bg);

    .form-group {
      margin-bottom: 20px;
      p {
        color: white;
      }

      input,
      textarea {
        min-width: 100%;
        max-width: 100%;
        padding: 1em;
        color: white;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        background-color: var(--body-bg);
      }

      input {
        &:focus {
          outline: none;
          box-shadow: 0 0 0 0.125rem rgb(105, 104, 104);
        }
      }
      textarea {
        outline: none;
        min-height: 20vh;
        max-height: 20vh;
        resize: none;

        &:focus{
          box-shadow: 0 0 0 0.125rem rgb(105, 104, 104);
        }
      }
    }

    button {
      padding: 8px 16px;
      background-color: var(--icon-color);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgb(8, 66, 50);
      }
    }
  }
}
