.user-dashboard {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;

  .total-user-posts {
    // border: 1px solid red;
    max-width: 45%;
    min-width: 45%;
    .single-post {
      color: white;
      margin: auto;
      display: flex;
      margin-top: 1%;
      border: 1px var(--border-color);
      border-left: 1px var(--border-color);

      &:hover {
        box-shadow: 0 4px 6px rgba(183, 178, 178, 0.1);
      }

      .post-info {
        //   border: 1px solid rgba(238, 237, 239, 0.631);
        padding: 1em 2em 1em 2em;
      }

      .website-preview {
        margin-left: auto;
        width: 10%;
      }

      .post-username {
        font-size: 0.75rem;
      }

      .post-title {
        font-size: 0.9rem;
        font-weight: 800;
      }
      .post-tech-stack {
        font-size: 0.7rem;
      }

      .website-preview {
        button {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .user-profile {
    text-align: center;
    margin-left: 5%;
    max-width: 15%;
    min-width: 15%;
    height: 40em;
    background-color: white;
    box-shadow: 0px 1px 10px 1px rgb(120, 115, 115);
    background-color: var(--background-color);

    .user-profile-upper-container {
      margin-top: 10%;
      .image-container {
        background: white;
        display: inline-block;
        max-width: 5em;
        height: 5em;
        border-radius: 50%;
        // padding: 1%;

        img {
          max-width: 5em;
          border-radius: 50%;
          //   border: 5px solid rgb(245, 245, 237);
          height: 5em;
        }
      }
    }
    .user-profile-lower-container {
      color: white;
    }
  }
}
